.RegularBody {
    background: #123 url("image/browser_background.png") repeat fixed top left;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

.PlayBody {
    background:"";
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

.header {
	padding-left: 50px;
	height: 111px;
	width:100%;
}

.logo {
	width: 400px;
	height: 111px;
}

.title_text {
		font-family: "LG Display-Regular";
        float:left;
        margin-left:50px;
        margin-top:30px;
	font-size:30px;
}
.logo_movistar {
	background: url("image/imagenio_mb_logo.png") no-repeat top right;
	float:right;
	margin-right: 150px;
}
.body_container {
	position:absolute;
	top:110px;
	height:600px;
	width:1100px;
	margin-top: 0px;
}

.left_container {
	position:relative;
	float:left;
	width: 400px;
	height: 500px;
	margin-left:0px;
	margin-right:50px;
}

.tv_player_title {
	font-family: "LG Display-Light";
	position:relative;
    margin-bottom:10px;
    text-align:left;
	margin-left:100px;
	font-size:20px
}

.tv_player_container {
	margin-left:50px;
	width:425px;
	height:240px;
}

.tv_player_noise {
	margin-left:50px;
	width:425px;
	height:240px;
	background-image: url("image/whitenoise.jpg");
	opacity:0.6;
	border-radius: 5px;
	border-color: white;
	border-style:solid;
	border-width: 1px;
}

.tv_player {
	z-index:100;
	background-color: black;
	visibility: visible;
}

.tv_player_setup {
	opacity:0.8;
	width: 550px;
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tv_player_selection_area {
	overflow: hidden;
	width: 420px;
	height: 155px;
	margin-left: 100px;
	margin-top:10px;
	margin-bottom: 10px;
	border-radius: 15px;
	border-color: white;
	border-style:solid;
	border-width: 2px;
	background-image: linear-gradient(top, rgb(120,120,120) 60%, rgb(163,160,163) 100%);
	background-image: -o-linear-gradient(top, rgb(120,120,120) 60%, rgb(163,160,163) 100%);
	background-image: -moz-linear-gradient(top, rgb(120,120,120) 60%, rgb(163,160,163) 100%);
	background-image: -webkit-linear-gradient(top, rgb(120,120,120) 60%, rgb(163,160,163) 100%);
	background-image: -ms-linear-gradient(top, rgb(120,120,120) 60%, rgb(163,160,163) 100%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.6, rgb(120,120,120)),
		color-stop(1, rgb(163,160,163))
	);
}
.tv_player_selection_content {
	height: 136px;
	width: 840px;
}

.tv_player_selection_content_option {
	margin-top: 10px;
	height: 136px;
	float:left;
	width: 420px;
}

.tv_player_selection_content_url {
	margin-top: 10px;
	height:136px;
	width:420px;
	float:right;
}

.tv_player_selection_content_overlap {
	display:block;
	width: 420px;
	height: 126px;
	border-radius: 15px;
	color: red;
	background-image: linear-gradient(bottom, rgb(138,138,138) 27%, rgb(118,118,120) 64%);
	background-image: -o-linear-gradient(bottom, rgb(138,138,138) 27%, rgb(118,118,120) 64%);
	background-image: -moz-linear-gradient(bottom, rgb(138,138,138) 27%, rgb(118,118,120) 64%);
	background-image: -webkit-linear-gradient(bottom, rgb(138,138,138) 27%, rgb(118,118,120) 64%);
	background-image: -ms-linear-gradient(bottom, rgb(138,138,138) 27%, rgb(118,118,120) 64%);

	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.27, rgb(138,138,138)),
	color-stop(0.64, rgb(118,118,120))
	);
	opacity: 0.8;
	position: absolute;
	font-size: 40px;
	text-align: center;
	padding-top: 30px;
}

.list_selection {
	z-index:10;
	padding-left: 30px;
	padding-top: 9px;
	height: 26px;
}

.list_selection_selected {
	background-color:white;
	color:black;
}

.right_container {
    position:relative;
	float:right;
	width: 600px;
	height: 500px;
    margin-right: 0px;
}


.log_container {
	overflow:hidden;
    float:right;
	border-radius: 15px;
	width:450px;
	height: 500px;
	border-color: white;
	border-style:solid;
	border-width: 2px;

	background-image: linear-gradient(bottom, rgb(59,58,59) 10%, rgb(31,31,31) 65%);
	background-image: -o-linear-gradient(bottom, rgb(59,58,59) 10%, rgb(31,31,31) 65%);
	background-image: -moz-linear-gradient(bottom, rgb(59,58,59) 10%, rgb(31,31,31) 65%);
	background-image: -webkit-linear-gradient(bottom, rgb(59,58,59) 10%, rgb(31,31,31) 65%);
	background-image: -ms-linear-gradient(bottom, rgb(59,58,59) 10%, rgb(31,31,31) 65%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.1, rgb(59,58,59)),
		color-stop(0.65, rgb(31,31,31))
	);
}

.log_title {
	font-family: "LG Display";
    position:relative;
    margin-bottom:10px;
    text-align:right;
	margin-right:10px;
	font-size:20px
}
.log_text {
	width:400px;
	height:450px;
	margin-left:25px;
	position:absolute;
	bottom: 0px;
	overflow-y:hidden;
	color:green;
	font-size:12px;
}

.WheelPopup {
	padding-top:20px;
	padding-left:20px;
	visibility:hidden;
	position:absolute;
	border-radius: 15px;
	border-color: white;
	border-style:solid;
	border-width: 2px;
	left:10%;
	top:40%;
	width:80%;
	height:20%;
	background-color:black;
	color:white;
	overflow-x:hidden;
	text-overflow:ellipsis;
}
